.circle {
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
  font-size: 1.3em;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0.95px 4.95px 2.6px;
  transition: var(--transition);
}

.y {
  margin: 0 0.05rem;
  color: var(--yellow);
  transition: var(--transition);
}

.d {
  margin: 0 0.05rem;
  color: var(--blue);
  transition: var(--transition);
}

.circle:hover,
.circle:focus {
  transform: scale(1.1);
}

.circle:active {
  box-shadow: inset rgba(0, 0, 0, 0.35) 0.95px 4.95px 2.6px;
}
