.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  padding: 1rem;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.modal img {
  width: 10%;
}

.modal-message {
  width: 50%;
}

.modal a {
  color: var(--primary-dark) !important;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fade-in-out {
  animation: fade-in-out 8s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
