form {
  background-color: var(--body-dark);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  width: 100% !important;
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

label {
  margin-top: 0.5rem;
  font-family: var(--ff-primary);
  font-size: 1.2em;
}

input,
textarea {
  margin: 0.5rem 0;
  padding: 1rem;
  font-family: var(--ff-secondary);
  color: var(--primary-dark);
  background-color: var(--nav);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

@media only screen and (min-width: 990px) {
  input {
    width: 50%;
  }
}
