.portraits-grid {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
}

.page-title {
  padding: 1rem;
  background-color: var(--body-dark);
  border-radius: 1rem;
}

.page-title h1 {
  margin-top: 0.5rem;
  font-size: 4em;
}

.portraits-grid .page-title .underline {
  background-color: var(--green) !important;
}

.portraits-grid .page-title .underline {
  background-color: var(--yellow);
}

@media only screen and (min-width: 630px) {
  .portraits-grid {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
  }

  .page-title {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 990px) {
  .portraits-grid {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
  }

  .page-title {
    grid-column: span 3;
  }
}
