.btn {
  align-self: flex-end;
  width: fit-content;
  margin: 0.75rem 0;
  padding: 1rem;
  font-size: 1rem;
  color: var(--primary-light);
  background-color: transparent;
  border: 1px solid var(--primary-light);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 330ms ease-in-out;
}

.btn .fa-chevron-right {
  margin-left: 0.3rem;
}

.btn:hover,
.btn:focus {
  border-radius: 1rem;
  box-shadow: 0px 5px var(--bg-light);
}

.btn:active {
  border-radius: 1rem;
  box-shadow: inset 0px 5px var(--bg-light);
}
