.btn {
  padding: 0.5rem;
  text-transform: lowercase;
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  cursor: pointer;
  transition: 330ms ease-in-out;
}

.btn .fa-chevron-right {
  margin-left: 0.3rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-radius: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 0px 5px var(--bg-light);
}

.btn:active {
  border-radius: 20px;
  box-shadow: inset 0px 5px var(--bg-light);
}
