.footer-social-icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10000;
}

.github {
  content: url('../../images/github.svg');
  width: 4.5vw;
}

.instagram {
  content: url('../../images/instagram.svg');
  width: 4.5vw;
}

.linkedin {
  content: url('../../images/linkedin.svg');
  width: 4.5vw;
}

.web {
  content: url('../../images/globe.svg');
  width: 4.5vw;
}

.illustrator {
  content: url('../../images/illustrator.svg');
  width: 4.5vw;
}

@media only screen and (min-width: 400px) {
  .footer-social-icons {
    bottom: 0;
    left: 0;
  }
}
